## Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Import the dataset

In [25]:
url='HappinessAlcoholConsumption.csv'
df=pd.read_csv(url)
df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97

## All data are for 2016 add this after the name of the country.

In [26]:
def add_year(text):
    return str(text) +'_2016'
df['Country']=df['Country'].map(add_year)
df

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark_2016,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland_2016,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland_2016,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway_2016,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland_2016,Western Europe,north,7.413,918,43.433,263,133,97
...,...,...,...,...,...,...,...,...,...
117,Tanzania_2016,Sub-Saharan Africa,south,3.666,533,878.000,36,6,1
118,Liberia_2016,Sub-Saharan Africa,north,3.622,432,455.000,19,152,2
119,Benin_2016,Sub-Saharan Africa,north,3.484,512,789.000,34,4,13
120,Togo_2016,Sub-Saharan Africa,north,3.303,500,577.000,36,2,19
121,Syria_2016,Middle East and Northern Africa,north,3.069,536,2.058,5,35,16

## Create a lambda function that will capitalize strings.

In [3]:
capitalizer = lambda x: x.capitalize()

## capitalize Hemisphere.

In [27]:
df['Hemisphere']= df['Hemisphere'].apply(capitalizer)
df

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark_2016,Western Europe,North,7.526,928,53.579,224,81,278
1,Switzerland_2016,Western Europe,North,7.509,943,79.866,185,100,280
2,Iceland_2016,Western Europe,North,7.501,933,60.530,233,61,78
3,Norway_2016,Western Europe,North,7.498,951,70.890,169,71,129
4,Finland_2016,Western Europe,North,7.413,918,43.433,263,133,97
...,...,...,...,...,...,...,...,...,...
117,Tanzania_2016,Sub-Saharan Africa,South,3.666,533,878.000,36,6,1
118,Liberia_2016,Sub-Saharan Africa,North,3.622,432,455.000,19,152,2
119,Benin_2016,Sub-Saharan Africa,North,3.484,512,789.000,34,4,13
120,Togo_2016,Sub-Saharan Africa,North,3.303,500,577.000,36,2,19
121,Syria_2016,Middle East and Northern Africa,North,3.069,536,2.058,5,35,16

## Print the last elements of the data set.

In [28]:
df.tail()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
117,Tanzania_2016,Sub-Saharan Africa,South,3.666,533,878.000,36,6,1
118,Liberia_2016,Sub-Saharan Africa,North,3.622,432,455.000,19,152,2
119,Benin_2016,Sub-Saharan Africa,North,3.484,512,789.000,34,4,13
120,Togo_2016,Sub-Saharan Africa,North,3.303,500,577.000,36,2,19
121,Syria_2016,Middle East and Northern Africa,North,3.069,536,2.058,5,35,16

## In happy countries, is the mean Spirit_PerCapita  more or less?( Assuming that a happy country is a country where the HappinessScore is greater than 5)

In [35]:
#Create a function called majority_happy that returns a boolean value to a new column called Happiness 
#(Consider majority_happy as more than 5)

def majority_happy(x):
    if x>5:
        return True
    else:
        return False
            
df['Happiness']=df['HappinessScore'].apply(majority_happy)
df

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita,Happiness
0,Denmark_2016,Western Europe,North,7.526,928,53.579,224,81,278,True
1,Switzerland_2016,Western Europe,North,7.509,943,79.866,185,100,280,True
2,Iceland_2016,Western Europe,North,7.501,933,60.530,233,61,78,True
3,Norway_2016,Western Europe,North,7.498,951,70.890,169,71,129,True
4,Finland_2016,Western Europe,North,7.413,918,43.433,263,133,97,True
...,...,...,...,...,...,...,...,...,...,...
117,Tanzania_2016,Sub-Saharan Africa,South,3.666,533,878.000,36,6,1,False
118,Liberia_2016,Sub-Saharan Africa,North,3.622,432,455.000,19,152,2,False
119,Benin_2016,Sub-Saharan Africa,North,3.484,512,789.000,34,4,13,False
120,Togo_2016,Sub-Saharan Africa,North,3.303,500,577.000,36,2,19,False
121,Syria_2016,Middle East and Northern Africa,North,3.069,536,2.058,5,35,16,False

In [54]:
df.groupby('Happiness').agg({'Spirit_PerCapita': 'mean'})

           Spirit_PerCapita
Happiness
False             57.026316
True             114.500000